    <form action="recupero" method="POST">
        

        <label for="email">Mail de usuario</label>
        <input type="email" name="email" required>


        <button type="submit">Enviar mail</button>

    </form>